body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; /* Color de texto general */
    background-color: #66666E; /* Fondo general plomo */
    
   /*background-color: #fff;*/
}

header {
   /* background-color: #E6E6E9; /* gris bajo para el encabezado */
   /* color: #fff; /* Texto en blanco para contraste */
    text-align: center;
    padding: 1em 0;
}

header img {
    width: 100px;
    height: auto;
}

footer {
    background-color:  #9999A1; /* Celeste para el pie de página */
    color: #fff; /* Texto en blanco */
    text-align: center;
    padding: 10px;
}
html {
    scroll-behavior: smooth;
}
body, html {
    /*margin: 10px 20px 10px 50px;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    justify-content: center;
   
}
.menu-icon , .image-section {
    flex: 1; /* Hace que ambos divs tengan el mismo tamaño */
    margin: 20px;
   
}
.menu-icon {
    text-align: center;
    cursor: pointer;
    font-size: 20px; /* Tamaño del icono del menú */
    color: white;
    
}

.image-section {
    justify-content: center;
   
}
nav {
   /* background-color: #0b0b0b; /* gris  */
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #0b0b0b;
    padding: 10px;
            /* Mover el nav hacia la derecha */
   
    right: -100px; /* Ajusta este valor según necesites */
}

.nav-section ul {
    list-style-type: none;
    padding: 0;
}

.nav-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.image-section img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}



nav ul {
    flex-direction: column; /* Cambia la dirección del flex a columna para pantallas pequeñas */
    display: none; /* Oculta los elementos de la lista por defecto en pantallas pequeñas */
    width: 100%;
}

nav ul li {
    text-align: center; /* Alinea el texto al centro para pantallas pequeñas */
}

/* Muestra la lista cuando se hace clic en el icono del menú */
nav ul.show {
    display: flex;
}

.nav-section nav {
    margin-left: 20px; /* Ajusta este valor para mover el menú hacia la izquierda */
}

.image-section img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}



@media (max-width: 768px) {
    
  
    nav ul {
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas pequeñas */
        display: none; /* Oculta los elementos de la lista por defecto en pantallas pequeñas */
      

    }

    nav ul li {
        text-align: center; /* Alinea el texto al centro para pantallas pequeñas */
    }

    /* Muestra la lista cuando se hace clic en el icono del menú */
    nav ul.show {
        display: flex;
    }


}