body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; /* Color de texto general */
    /*background-color: #66666E; /* Fondo general plomo */
    color: #fff; 
    background-color: #06141B;
   /*background-color: #fff;*/
   /*font-family: 'Open Sans', sans-serif;*/
   font-family: "Montagu Slab", serif;
}

header {
   /* background-color: #E6E6E9; /* gris bajo para el encabezado */
    color: #fff; /* Texto en blanco para contraste */
    
    padding: 1em 0;
}

header img {
    width: 100px;
    height: auto;
}


/* Estilo para el botón de menú en dispositivos móviles */


/* Cambios de estilo para pantallas pequeñas */

    
  /*
    nav ul {
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas pequeñas */
     /*   display: none; /* Oculta los elementos de la lista por defecto en pantallas pequeñas */
    /*  
    }

    nav ul li {
        text-align: center; /* Alinea el texto al centro para pantallas pequeñas */
   /* }

    /* Muestra la lista cuando se hace clic en el icono del menú */
    /*nav ul.show {
     /*   display: flex;
    }*/


section {
    margin: 20px 0;
   /* background-color: #E0FFFF; /* Un tono más claro de celeste para las secciones */
    border-radius: 10px; /* Bordes redondeados para las secciones */
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}



html {
    scroll-behavior: smooth;
}



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
}

.hidden {
    opacity: 0;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    justify-content: center;
   
}
.menu-icon , .image-section {
    flex: 1; /* Hace que ambos divs tengan el mismo tamaño */
    margin: 20px;
   
}
.menu-icon {
    text-align: center;
    cursor: pointer;
    font-size: 20px; /* Tamaño del icono del menú */
    color: white;
    
}
.image-section {
    justify-content: center;
   
}


.nav-section ul {
    list-style-type: none;
    padding: 0;
}

.nav-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.image-section img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}






.content-section {
  
    justify-content: space-around;
    /*padding: 20px;*/
   /* justify-content: center;*/
   /* padding-left: 60px */
}
.text-div, .carousel-div {
    flex: 1; /* Hace que ambos divs tengan el mismo tamaño */
    margin: 10px;
}
.text-div {
    
    padding: 20px;
    border-radius: 10px;
}
.carousel-div {
    border-radius: 10px;
    overflow: hidden;
}

.text-div .texto-inicial{
    color: white;
    font-size: 50px;
}



/**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333; /* Color de fondo */
    overflow: hidden;
}

/* Estilos para los enlaces de navegación */
.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
}

.nav-links li {
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

/* Cambio de color al pasar el mouse */
.nav-links a:hover {
    background-color: #ddd;
    color: #333;
}

/* Diseño responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column; /* Los enlaces se apilan verticalmente */
    }
}

.modal-dialog.modal-fullscreen {
    width: 100vw;
    height: 100vh;
    padding: 0;
    max-width: none;
}

.modal-header{
    background-color: transparent;
    border-bottom: none;
}


.modal-content {
   /* Fondo general plomo */
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 60%; /* Could be more or less, depending on requirement */
   display: flex; /* Using flex to manage content inside the modal */
   justify-content: space-between; /* This separates the child elements */
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Situado sobre otros elementos */

    
    
}

/* Estilo del contenido del modal */
.modal-content {
    height: auto;
    height: 100vh;
    border: 0;
    border-radius: 0;
    background-color: #11212D; 
    position: relative; /* Posicionamiento relativo dentro del modal */
    margin: auto; /* Centrado horizontal */
    padding: 20px;
    width: 90%; /* Ancho del contenido, ajustable según necesidad */
    max-height: 86vh; /* Altura máxima para asegurar que no exceda la pantalla */
    overflow-y: auto; /* Habilita scroll vertical si el contenido excede la altura máxima */
    animation: fadeIn 0.5s;
    animation-name: slideInDown;
    animation-duration: 0.5s; 
    display: flex;
}

/* El botón de cerrar (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myModal{
     margin-top: 6%;  
}

.container h1{
    
    color: white;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}







#animation-container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .frame {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .frame img {
    width: 90%;
    height: auto;
  }

  .statistics {
    display: flex;
    background-color:#11212D;/*  background-color:#66666E;/ Adjust the background color as needed */
    color: white;
    padding: 20px;
    justify-content: space-around;
  }
  
  .stat {
    text-align: center;
  }
  
  .number {
    font-size: 48px; /* Adjust size as needed */
    font-weight: bold;
  }
  
  .label {
    font-size: 16px; /* Adjust size as needed */
  }

  .modal-content h2 {
    color: #253745;
  }

  footer {
    /* background-color:  #9999A1; /* Celeste para el pie de página */
     color: #fff; /* Texto en blanco */
     background-color:#191919!important;
     /*position: absolute;
      bottom: 0;*/
     width: 100%;
 }
 footer p{
     text-align: center;
     font-size: 20px;
     color: #666;;
 }
  footer img{
    width: 100px;
    height: auto;
  }


  .whatsapp-icon {
    display: none;
    position: fixed;
    bottom: 20px; /* Distancia desde el fondo */
    right: 20px; /* Distancia desde la derecha */
    z-index: 1000; /* Asegura que el icono esté por encima de otros elementos */
}

.whatsapp-icon img {
    width: 100px; /* Tamaño del icono */
    height: auto;
    transition: transform 0.3s ease; /* Efecto suave al hacer hover */
}

.whatsapp-icon:hover img {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}

.pantallatotal{
    display: block;
}
  @media (min-width: 300px) and (max-width: 1000px) {
    #animation-container {
        width: 350px;
        height: 250px;
        position: relative;
        overflow: hidden;
      }
      
    .whatsapp-icon {
        display: block;
    }
    
    .pantallatotal{
        display: none;
    }

    .number {
        font-size: 38px; /* Adjust size as needed */
        font-weight: bold;
      }

      .label {
        font-size: 12px; /* Adjust size as needed */
      }
  }